
<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Welcome to Give-n-take</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body
        { 
          padding-top:80px; 
        }
    </style>
    <%- include ("../../templates/partials/csslinker") %>
</head>
<body>
  <%- include ("../../templates/partials/navbar") %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
   
    <form action="/users/addbook" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="bookname"><b>bookname</b></label>
          <input type="text" placeholder="Enter bookname" name="bookname" required>
        </div>
        <div class="form-group">
          <label for="lastname"><b>qunatity</b></label>
          <input type="text" placeholder="Enter quantity" name="quantity" required>
        </div>
        <div class="form-group">
          <label for="description"><b>description</b></label>
          <input type="description" placeholder="Enter description" name="description" required>
        </div>
        <div class="form-group">
          <label for="bookcover"><b>upload file</b></label>
          <input type="file" placeholder="upload book pic" name="bookcover">
          
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg">Add BOOK</button>
    </form>
    <hr>
    
</div>
</div>
</body>
</html>
