<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo "><img src="./img/logo.png" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Butterfly</a></h1> -->
	<form class="form-inline navbar-search-form " style="margin-left:20px;width:60%" action="/books/search" method="post">
		<input style="color: black;border: 1px solid black;border-radius:5px;width:100%;text-align: center;" type="search" name="search" placeholder="Search for books by name" aria-label="Search" class="search form-control">
	</form>
      <nav class="nav-menu d-none d-lg-block ml-auto">
        <ul>
          <% if(typeof user !== 'undefined') { %>
            <li class="active"><a href="/home">DASHBOARD</a></li>
            <li><a href="/addbook">ADD BOOK</a></li>
          <%}%>
          <% if(typeof user == 'undefined') { %>
          <li><a href="#contact">Contact</a></li>
          <%}%>
		  <li class="drop-down"><a href="<%if(typeof user == 'undefined'){%>/login<%}%>">
        <% if(typeof user !== 'undefined') { %>
          HI,<%= user.firstname %>
        <%} else { %>
          PLEASE LOGIN
        <%}%>
        
      </a>
            <ul>
              <% if(typeof user !== 'undefined') { %>
                <li><a href="/updatebio">UPDATE BIO</a></li>
                <li><a href="/logout">LOG OUT</a></li>
                <li><a href="/mybooks">MY BOOKS</a></li>
              <%}%>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->