<nav class="navbar navbar-dark fixed-top navbar-expand-md bg-dark">
			<div class="container" height="auto">
                <a class="navbar-brand" href="/home">
                <img src="./img/logo.png" alt="">
                </a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
			        <ul class="navbar-nav ml-auto navbar-menu-items fadeIn animated">

                        <li class="nav-item">
                            <a class="nav-link " href="/home">HOME</a>

			            </li>
                        <li class="nav-item">
			                <a class="nav-link " href="/addbook">Add Book</a>
			            </li>
						
                        <li class="nav-item">
			                <a class="nav-link" href="/logout" >Logout</a>
			            </li>
			        </ul>
			        <form class="form-inline navbar-search-form  ml-auto" action="/books/search" method="post">
			        	<input style="background:gray;color: white;" type="search" name="search" placeholder="Search for books by name" aria-label="Search" class="search form-control">
			        </form>
			       <!-- <ul class="navbar-nav navbar-search-button">
			            <li class="nav-item">
			                <a class="nav-link search-button" href="#"><i class="fas fa-search"></i></a>
			            </li>
			        </ul> -->
			    </div>
		    </div>
		</nav>